.collection-container {
  margin: 16px 24px;
}

.center-text {
  text-align: center;
}

.title {
  font-size: 46px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
  margin-top: 16px;
  padding-bottom: 4px;
}

.toolbar {
  display: flex;
  flex-direction: row-reverse;
}

.input-form {
  margin-right: 8px;
}

.load-button {
  height: 56px;
  width: 150px;
}

mat-spinner {
  position: fixed;
  top: 350px;
  transform: translate(-50%, -50%);
  left: 50%;
}
